.public-header {
    height: 814px;
    width: 1920px;
    background: url("../images/top-ground.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.public-header .top-word {
    width: 994px;
    height: 214px;
    background: url("../images/top-word.png");
    background-repeat: no-repeat;
    position: relative;
    top: 210px;
    left: 86px;
}

.public-container {
    width: 1200px;
    height: 100%;
    /* background-color: white; */
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.top-title {
    height: 98px;
    display: flex;
    justify-content: space-around;
}

.top-title div {
    font-size: 22pt;
    color: aliceblue;
    width: 174px;
    height: 100%;
    line-height: 98px;
    text-align: center;
}

.public-footer {
    height: 1010px;

    background: url(../images/public-ground.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;

}

.public-header .header-logo {
    width: 234px;
    height: 96px;
    background: url("../images/index-header-logo.png");
    background-color: #e8024d;
    background-repeat: no-repeat;
    background-position-y: 18px;
    background-position-x: 16px;
}

.public-footer-logo {
    width: 1920px;
    height: 978px;
    background: url("../images/public-footer.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    background-position-y: 226px;
}

.public-footer-end {
    background: url("../images/public-footer-end.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    height: 36px;
    width: 1920px;
}

.index1 {
    height: 1324px;
    width: 1920px;
    margin: 0 auto;
    position: relative;
}

.welcome {
    width: 1150px;
    height: 506px;
    margin: 67px 0px 158px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

.welcome-image {
    width: 420px;
    height: 100%;
    background: url("../images/welcome-image.png");
}

.welcome-word {
    width: 660px;
    height: 348px;

}

.welcome-video {
    width: 364px;
    height: 240px;
    position: absolute;
    background: url("../images/welcome-video.png");
    left: 118px;
    top: 330px;
}

.welcome-word .content {
    font-size: 20pt;
}

.welcome-word .title {
    font-size: 45pt;
    font-weight: bold;
}

.welcome-gray {

    height: 448px;
    width: 1920px;
    position: absolute;
    background: url(../images/gray.png);
}

/* .kinds-content{
    float: left;
} */
.kinds {
    height: 1150px;
}

.kinds-content div {
    height: 214px;
    width: 350px;
    float: left;
    margin: 25px;
    font-size: 24px;
}

.kinds-content .kinds-title {
    font-size: 27px;
    margin: 0 auto;
    height: 24px;
    margin-bottom: 30px;
    margin-top: 200px;
}

.kinds-banner {

    background: url("../images/kinds-banner.png");

    background-repeat: no-repeat;

    height: 46px;

    width: 302px;
    position: absolute;
    left: 808px;
}

.kinds .button {
    width: 240px;
    height: 64px;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    margin-top: 638px;
    margin-left: 474px;
    font-size: 25pt;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    color: white
}

.kinds-pans-image {
    width: 1200px;
    height: 474px;
    background: url("../images/kinds-pans-image.png");
    position: absolute;
    top: 1526px;
}

.Purchase {
    height: 2000px;
    width: 1920px;
    position: relative;
    top: 650px;
    margin: 0 auto;
}

.pur-card {
    width: 812px;
    height: 370px;
    /* background-color: darkcyan; */
    margin: 60px auto;
}

.pur_showimg {
    width: 883px;
    height: 650px;
    background-color: pink;
    margin: 0 auto;
}

.pur-card-title {
    height: 58px;
    width: 302px;
    height: 102px;
    background: url("../images/pur-card-title.png");
    background-repeat: no-repeat;
    background-color: none;
    margin: 0 auto;
}

.pur-card-box {
    width: 814px;
    height: 271px;
}

.Purchase .pur-card-box div {
    background: url("../images/pur-card-box-div.png");
    height: 72px;
    width: 72px;
    margin: auto;
    margin-bottom: 30px;
}

.pur-card-box {
    width: 530px;
    margin: auto;
    font-size: 17px;

}

.pur-showimg-title {
    height: 64px;
    width: 158px;
    background-color: red;
    background: url("../images/pur-showimg-title.png");
    margin: auto;
}

.pur-showimg-box {
    width: 881px;
    height: 546px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pur-showimg-cloum {
    width: 250px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pur-img1 {
    height: 221px;
    background: url("../images/pur-img1.png");
}

#pur-img2 {
    height: 299px;
    background: url("../images/pur-img2.png");
    background-position-x: -100px;
}

#pur-img3 {
    height: 365px;
    background: url("../images/pur-img3.png");
}

#pur-img4 {
    height: 170px;
    background: url("../images/pur-img4.png");
}

#pur-img5 {
    height: 221px;
    background: url("../images/pur-img5.png");
}

#pur-img6 {
    height: 299px;
    background: url("../images/pur-img6.png");
}

.Purchase .button div {
    width: 224px;
    height: 64px;
    background-color: black;
    color: white;
    font-size: 25pt;
    margin: auto;
    box-sizing: border-box;
    padding-top: 10px;
    margin-top: 76px;
}