.public-header {
    height: 814px;
    width: 1920px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/top-ground.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.public-header .top-word {
    width: 994px;
    height: 214px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/top-word.png");
    background-repeat: no-repeat;
    position: relative;
    top: 210px;
    left: 86px;
}

.public-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.top-title {
    height: 98px;
    display: flex;
    justify-content: space-around;
}

.top-title div {
    font-size: 22pt;
    color: aliceblue;
    width: 174px;
    height: 100%;
    line-height: 98px;
    text-align: center;
}

.public-footer {
    height: 1010px;
    background: url(https://typora--image1.oss-cn-beijing.aliyuncs.com/public-ground.png);
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}

.public-header .header-logo {
    width: 234px;
    height: 96px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/index-header-logo.png");
    background-color: #e8024d;
    background-repeat: no-repeat;
    background-position-y: 18px;
    background-position-x: 16px;
}

.public-footer-logo {
    width: 1920px;
    height: 978px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/public-footer.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    background-position-y: 226px;
}

.public-footer-end {
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/public-footer-end.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin: auto;
    height: 36px;
    width: 1920px;
}

.index1 {
    height: 1832px;
    width: 1920px;
    margin: 0 auto;
    position: relative;
}

.welcome {
    width: 1150px;
    height: 506px;
    margin: 67px 0px 158px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

.welcome-image {
    width: 420px;
    height: 100%;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/welcome-image.png");
}

.welcome-word {
    width: 660px;
    height: 348px;

}

.welcome-video {
    width: 364px;
    height: 240px;
    position: absolute;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/welcome-video.png");
    left: 118px;
    top: 330px;
}

.welcome-word .content {
    font-size: 20pt;
}

.welcome-word .title {
    font-size: 45pt;
    font-weight: bold;
}




.kinds {
    height: 1150px;
    /* display: flex; */
}

.kinds-banner {
    font-size: 45pt;
}

.kinds-row div {
    /* height: 214px; */
    width: 375px;
    height: 450px;
    font-size: 19pt;
    margin-top: 25px;
}

.kinds .kinds-title {
    font-size: 27px;
    height: 24px;
    /* margin-top: 25px; */
}









.kinds-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kinds .button {
    width: 240px;
    height: 64px;
    background-color: black;
    margin: 0 auto;
    font-size: 25pt;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
}

.kinds-pans-image {
    width: 1200px;
    height: 474px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/kinds-pans-image.png");
}

.Purchase {
    height: 1250px;
    width: 1920px;
    margin: 0 auto;
}

.pur-card {
    width: 812px;
    height: 370px;
    background-color: #fff;
    margin: 60px auto;


}

.pur-card-box-image {
    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;
    height: 10px;
    width: 188px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-card-box-image.png");
    background-repeat: no-repeat;
}

.pur-showimg {
    width: 883px;
    height: 650px;
    /* background-color: pink; */
    margin: 0 auto;
}

.pur-card-title {
    /* height: 58px; */
    width: 302px;
    height: 102px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-card-title.png");
    background-repeat: no-repeat;
    background-color: none;
    margin: 0 auto;
}

.pur-card-box {
    height: 271px;
}

.Purchase .pur-card-box-photo {
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-card-box-div.png");
    height: 72px;
    width: 72px;
    margin: auto;
    margin-bottom: 30px;
}

.pur-card-box {
    width: 530px;
    margin: auto;
    font-size: 17px;

}

.pur-showimg-title {
    height: 64px;
    width: 158px;
    background-color: red;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-showimg-title.png");
    margin: auto;
}

.pur-showimg-box {
    width: 881px;
    height: 546px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pur-showimg-cloum {
    width: 250px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pur-img1 {
    height: 221px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img1.png");
}

#pur-img2 {
    height: 299px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img2.png");
    background-position-x: -100px;
}

#pur-img3 {
    height: 365px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img3.png");
}

#pur-img4 {
    height: 170px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img4.png");
}

#pur-img5 {
    height: 221px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img5.png");
}

#pur-img6 {
    height: 299px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/pur-img6.png");
}

.Purchase .button div {
    width: 224px;
    height: 64px;
    background-color: black;
    color: white;
    font-size: 25pt;
    margin: auto;
    box-sizing: border-box;
    padding-top: 10px;
    margin-top: 76px;
}

.recommend .public-container {
    height: 500px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.recommend-image {
    /* display: inline-block; */
    display: flex;
    width: 376px;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
}

.recommend-text {
    /* display: inline-block; */
    display: flex;
    width: 376px;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
}

.recommend p {
    width: 434px;
    height: 120px;
    margin: 0 auto;
    font-size: 19px;
}

.recommend-image .image1 {
    height: 120px;
    width: 380px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/recommend-image1.png");
    background-position-y: -20px;
}

.recommend-image .image2 {
    height: 120px;
    width: 380px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/recommend-image2.png");
    background-position-y: -90px;
}

.recommend-image .image3 {
    height: 120px;
    width: 380px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/recommend-image3.png");
    background-position-y: -100px;
}

.recommed-botton {
    width: 240px;
    height: 64px;
    background-color: red;
    margin: 0 auto;
    font-size: 25pt;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.backgrouund1 {
    width: 100%;
    height: 444px;
    background-color: #eae7e8;
    position: absolute;
    top: -40px;
}

.backgrouund2 {
    width: 100%;
    height: 474px;
    background-color: #dad8d9;
    position: absolute;
    opacity: 0.2;
    top: 1275px;
}

.background3 {
    width: 100%;
    height: 350px;
    background-color: #6f6d6d;
    position: absolute;
    top: 1750px;
    z-index: -1;
}

.background4 {
    width: 100%;
    height: 340px;
    background: url("https://typora--image1.oss-cn-beijing.aliyuncs.com/background4.png");
    position: absolute;
    z-index: -1;
    top: -20px;
}

.recommend {
    position: relative;
}